/* Estructura general */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #111;
  color: #eee;
}

/* Buscador */
input {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

/* Listas */
ul {
  list-style: none;
  padding: 0;
}

/* Paletas */
.palette-item {
  margin-bottom: 20px;
}

.palette-title {
  margin-bottom: 5px;
  color: #fff;
}

/* Contenedor de colores */
.palette {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  border: 2px solid transparent;
}

.palette:hover {
  border-color: #555;
}

/* Cada color */
.palette_color {
  width: 40px;
  height: 40px;
}
